/* blok .body */
html { 
  box-sizing: border-box; 
}
*, ::before, ::after { 
    box-sizing: inherit; }
    
.body {
max-width: 1000px;
margin: 0 auto;
color: #333;
font-family: "Lato", sans-serif;
line-height: 1.5;
padding: 0 20px;
background-color: #eee;
}
