/* blok .button */
.button {
    background-color: #28178a; 
    color: white;
    border: none;
    padding: 12px 20px;
    border-radius: 6px;
    cursor: pointer;
    font-family: "Lato", sans-serif;
    font-size: 16px;
    transition: background-color 0.3s ease;
}
.button:hover { 
  background-color: #a453b8; 
}