/* blok .header */
.header__title {
  color: #640bb8;
  text-align: center;
  padding: 10px;
  font-size: 40px;
}

.header__image {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  border:  3px solid #fff;
}
.header__imageContainer {
text-align: center; 
margin: 20px auto

}