/* blok .header */
.header__title {
  color: #640bb8;
  text-align: center;
  padding: 10px;
  font-size: 40px;
}

.header__image {
  margin: 0 auto;
  text-align: center;
  
}
.image {
width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  display: block;
  margin: 0 auto;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}