/* blok .table */
.table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}

.table__cell  {
    border: 2px solid #0c0c0c;
    padding: 12px 15px;
    border-bottom: 1px solid #0a0a0a;
    text-align: center;
}
.table__cell--header  {
    background-color: #b8a2e2;
    color: #efeff1;
    font-weight: bold;
    font-size: 1.1rem;
}
.table__cell--minor { 
  text-align: left;
  font-weight: normal;
}

.table__row:nth-child(even) {
  background-color: #d1cfcf;
}

.table__row:hover { 
  background-color: #c6bed8;
  color: #fcf7da;
 }

 .table__caption {
    caption-side: top;
    text-align: center;
    font-size: 1.4rem;
    font-weight: bold;
    margin-bottom: 10px;
    color: #5d3a9b;
}
.tableContainer {
  overflow-x: auto;
  padding: 10px 0;
  margin-bottom: 20px;
}
